.documentation-nav {
    margin-left: -$grid-gutter-width * 0.5;
    margin-right: -$grid-gutter-width * 0.5;
    border-bottom: $border-width solid $border-color;
}

.documentation-content {
    margin-top: map-get($spacers, 4);
}

@include media-breakpoint-up(lg) {
    .documentation-nav {
        position: fixed;
        top: $navbar-height;
        bottom: 0;
        width: $documentation-nav-width;
        margin: 0;
        padding: 0;
        border-right: $border-width solid $border-color;
        border-bottom: 0;
        overflow: auto;
    }

    .documentation-content {
        margin-top: 0;
        margin-left: $documentation-nav-width;
    }
}