<nav class="navbar navbar-expand-sm navbar-default fixed-top bg-light">
        <a class="navbar-brand text-dark font-weight-bold text-monospace" href="#">
            [A]
        </a>
        <!--TODO Site Nav-->
        <!-- 
        <a href='#' class="navbar-brand text-dark font-weight-bold text-monospace">Documentation</a>
        <a href='#' class="navbar-brand text-dark font-weight-bold text-monospace">Examples</a> -->
        <a href='/' class="nav-link text-dark font-weight-bold text-monospace active">Home</a> 
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}      
            <a href="{{ .URL }}" class="nav-link text-dark font-weight-bold text-monospace">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        {{ end }}
</nav> 
